<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills">Click here to see the list of my developer skills!</a>
  </body>
</html>
